:root {
    --board-main-color: burlywood;
    --board-sec-color: #966e3386;
    --board-shadow-color: #966F33;
    --seed-main-color: #b06a6a;
    --seed-sec-color: #a83e3e;
}

button {
    background-color: var(--board-main-color);
    color: var(--board-sec-color);
    padding: 14px 20px;
    margin: 8px auto;
    width: 150px;
    border: none;
    cursor: pointer;
    display:inline-block;       
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
  }

/* NAVBAR */
.logo {
float: left;
border: auto;
}

.navigation-bar {
overflow: hidden;
position: fixed; 
top: 0;
left: 0;
width: 100%; 
background-color: var(--board-sec-color);
height: 60px;
text-align:center;
}

.navigation-bar img{
float:left;
}

.navigation-bar .container{
padding: 15px;
margin: 5px;
float:right;
}
    

.perfil {
    display: none;
}

.register {
    display: none;
}

.login {
    display: none;
}

.instruções {
    display: none;
}

.configurações {
    display: none;
}

.comandos {
    display: none;
}

.turn {
  display:  block;
  font-size: large;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
  color: var(--seed-sec-color);
}

.estado_jogo {
    display: block;
    text-align: center;
}

param {
  display: inline-block;
  color: var(--board-shadow-color);
}

footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--board-sec-color);
    color: var(--board-shadow-color);
    text-align: center;
  }

.board {
    margin: 150px auto;
    display: flex;
    flex-flow: row;
    border: 5px outset var(--board-sec-color);
    box-shadow: var(--board-shadow-color) 1px 1px 25px -10px;
    width: 750px;
    height: 190px;
    max-width: 100%;
    resize: both;
    overflow-x: auto;
    background: var(--board-main-color);
    border-radius: 20px;
}

#rows {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.hole {
    flex: 1;
    border-radius: 100px;
    position: relative;
}

.storage {
    flex: 1;
    border-radius: 50px;
}

.storage,
.hole {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--board-sec-color);
    box-shadow: inset 0 0 2px var(--board-sec-color), inset 0 5px 15px var(--board-shadow-color);
}

.seed {
    position: absolute;
    background-color: var(--seed-main-color);
    box-shadow: inset 0 5px 5px var(--seed-sec-color), inset 0 0 5px black;
    height: 10px;
    width: 15px;
    border-radius: 50%;
    border: 0.1px solid var(--seed-main-color);
}

.btn-container2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 320px;
}

.btn-container3{
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

  /* The Close Button */
  #closeRules, #closeConfig, #closeLeaderBoard {
    color: var(--seed-main-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #closeRules:hover,
  #closeRules:focus,
  #closeConfig:hover,
  #closeConfig:focus,
  #closeLeaderBoard:hover,
  #closeLeaderBoard:focus {
    color: var(--seed-sec-color);
    text-decoration: none;
    cursor: pointer;
  }

  .rulesModal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 400px; 
    height: auto; 
    overflow: auto; 
    justify-content: left;
    margin: 60px auto;
    background-color: var(--board-sec-color);
  }
  
  .rulesModal-content {
    background-color:  var(--board-shadow-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid  var(--board-shadow-color);
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .configModal {
    display: none; 
    position: absolute;
    top: 0;
    left: 100%;
    width: 400px; 
    height: auto; 
    overflow: auto; 
    justify-content: left;
    margin-top: 60px;
    margin-left: -400px;
    background-color: var(--board-sec-color);
  }
  
  .configModal-content {
    background-color:  var(--board-shadow-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid  var(--board-shadow-color);
    width: 80%; /* Could be more or less, depending on screen size */
  }

  input[type=number] {
    width: 80%;
    padding: .5rem;
    margin: .5rem auto;
  }

  .leaderBordModal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 50%;
    top: 0;
    width: 400px; 
    height: auto; 
    overflow: auto; 
    margin-top: 60px;
    margin-left: -200px;
    margin-bottom: auto;
    background-color: var(--board-sec-color);
  }
  
  .leaderBordModal-content {
    background-color:  var(--board-shadow-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid  var(--board-shadow-color);
    width: 80%; /* Could be more or less, depending on screen size */
  }

/* Custom radio button */
/* The container */
.chooseplayer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .chooseplayer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--board-sec-color);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .chooseplayer:hover input ~ .checkmark {
    background-color: var(--board-sec-color);
  }
  
  /* When the radio button is checked, add a blue background */
  .chooseplayer input:checked ~ .checkmark {
    background-color: var(--seed-main-color);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .chooseplayer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .chooseplayer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }